<h1>All Users</h1>

<% @users.each do |user| %>
  <div class="user_link">
    <%= link_to user.full_name, user_path(user) %><br>
    <% if user.admin %>
      <%= link_to 'Revoke admin', user_admin_toggle_path(user), method: 'patch' %>
    <% else %>
      <%= link_to 'Set admin', user_admin_toggle_path(user), method: 'patch' %>
    <% end %>
      | <%= link_to 'Delete user', user_path(user), method: 'delete' %>
    <br>
    <br>
  </div>
<% end %>
