<h1><%= @user.full_name %></h1>
<p>email: <%= @user.email %></p>

<% if @user.appointments.any? %>
  <h3>Upcoming Appointments:</h3>
  <ul>
    <% @user.appointments.each do |appointment| %>
      <li>
        <%= link_to appointment.pet.name, pet_appointment_path(appointment.pet, appointment) %>
        at <%= appointment.start.strftime('%H:%M on %A, %B %-d, %Y') %> 
      </li>
    <% end %>
  </ul>
<% end %>
