<h1 class="jumbotron">Adopt a pet!</h1>
<h2><%= link_to "All Pets", pets_path %></h2>
<% Pet.distinct.pluck(:species).each do |species| %>
  <h2>
    <%= link_to "All #{species.pluralize}", species_index_path(species.downcase.pluralize) %>
  </h2>
<% end %>
