<h1 class="text-center">Adopt a pet!</h1>
<h3 class="text-center"><%= link_to "All Pets", pets_path %></h3>
<% Pet.distinct.pluck(:species).each do |species| %>
  <h3 class="text-center">
    <%= link_to "All #{species.pluralize}", species_index_path(species.downcase.pluralize) %>
  </h3>
<% end %>
<br>
<h3 class="text-center">
  <%= link_to "Adopt our oldest pet", oldest_path %>
</h3>
