<h1>Meeting <%= @appointment.pet.name %></h1>

<p>
  You're scheduled to meet <%= link_to @appointment.pet.name, pet_path(@appointment.pet)%> 
  on <%= @appointment.timeslot.strftime('%A, %B %-d, %Y at %H:%M') %>.
</p>
<p>Please bring a form of government-issued identification if you are planning
  to adopt <%= @appointment.pet.name %>.</p>
